# Ignore everything
*

# Unignore top-level essentials
!/.gitignore
!/.python-version
!/pyproject.toml
!/pytest.ini
!/README.md
!/uv.lock

# Unignore src/salwer
!/src/
!/src/salwer/
!/src/salwer/*.py
!/src/salwer/recipes/
!/src/salwer/recipes/*.py

# Unignore tests
!/tests/
!/tests/*.py
!/tests/*.md

# Unignore examples
!/examples/
!/examples/*.*
!/examples/atc0json/
!/examples/atc0json/*.json
!/examples/atc0cns/
!/examples/atc0cns/*.cns
