# Ignore everything
*

# Unignore top-level essentials
!/.gitignore
!/.python-version
!/pyproject.toml
!/pytest.ini
!/README.md
!/uv.lock

# Unignore src/salwer
!/src/
!/src/salwer/
!/src/salwer/*.py
!/src/salwer/recipes/
!/src/salwer/recipes/*.py

# Unignore tests
!/tests/
!/tests/*.md
!/tests/*.py
!/tests/*.txt

# Unignore examples
!/examples/
!/examples/*.*
!/examples/files_for_wer/
!/examples/files_for_wer/*.*
!/examples/files_for_wer/ref/
!/examples/files_for_wer/ref/*.cns
!/examples/files_for_wer/b12_aug2_l12/
!/examples/files_for_wer/b12_aug2_l12/*.txt
!/examples/json_to_cns/
!/examples/json_to_cns/*.*
!/examples/json_to_cns/atc0json/
!/examples/json_to_cns/atc0json/*.json
!/examples/json_to_cns/atc0cns/
!/examples/json_to_cns/atc0cns/*.cns
